@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mouse+Memoirs&family=Open+Sans:wght@300&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #121115;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242427;
}

::-webkit-scrollbar-thumb {
  background: #48494e;
}

::-webkit-scrollbar-track:hover {
  background: #2a2b2f;
} */

/* BoxHeader */

.box-header {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #ccc;
}
.conversion-title {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ccc;
}

.conversion-row {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #ccc;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #999;
}

.a-revenue {
  font-size: 15px;
  font-weight: 700;
  color: #999;
}

.a-expenses {
  font-size: 15px;
  font-weight: 700;
  color: #ef2f2f;
}

.a-profit {
  font-size: 15px;
  font-weight: 700;
  color: #71f5de;
}

/* BoxHeader */
/* BoxHeader */

.title {
  font-family: "Inter", "sans-serif";
  font-size: 16;
  font-weight: 600;
  color: #ccc;
}

.auth-border {
  border-style: solid;
  border-color: #393745;
  border-radius: 0.4rem;
}
.auth-logo-circle {
  border-radius: 50%;
  background-color: #24222c;
  width: 50px;
  height: 50px;
  border: 1px solid #24222c;
  text-align: center;
  margin-bottom: 50px;
}

.auth-form {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  border: 1px;
  padding: 2.25rem;
  background-color: #24222c;
}

.auth-title {
  font-size: 20px;
  color: white;
  margin: 30px 0px 30px 0px;
}

.auth-label {
  font-size: 15px;
  color: white;
  text-align: left;
  display: block;
}

.auth-input {
  font-size: 15px;
  background-color: #312f3b;
  border-radius: 0.4rem;
  width: 100%;
  height: 40px;
}

.auth-button {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  /* display: inline-block; */
  font-family:
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin: 40px 0px;
  outline: none;
  /* padding: 13px 40px;
  position: relative; */
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition:
    box-shadow 0.2s,
    -ms-transform 0.1s,
    -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  height: 40px;
}

/* .auth-button:focus-visible {
  box-shadow:
    #222222 0 0 0 2px,
    rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
} */

/* .aut-button:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.aut-button:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}  */
