@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mouse+Memoirs&family=Open+Sans:wght@300&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Roboto", "Poppins";
}

::-webkit-scrollbar {
  width: 0px;
}




/* 
export const tokensDark = {
  grey: {
    0: "#ffffff", // manually adjusted
    10: "#f6f6f6", // manually adjusted
    50: "#f0f0f0", // manually adjusted
    100: "#f0f0f3",
    200: "#e1e2e7",
    300: "#d1d3da",
    400: "#c2c5ce",
    500: "#b3b6c2",
    600: "#8f929b",
    700: "#312F3B",
    800: "#48494e",
    900: "#1a181e",
  },
  primary: {
    // light green
    100: "#d0fcf4",
    200: "#a0f9e9",
    300: "#71f5de",
    400: "#41f2d3",
    500: "#51f5ac",
    600: "#191F45", // manually adjusted
    700: "#0b8f78",
    800: "#076050",
    900: "#043028",
  },
  secondary: {
    // yellow
    50: "#f0f0f0", // manually adjusted
    100: "#fcf0dd",
    200: "#fae1bb",
    300: "#f7d299",
    400: "#f5c377",
    500: "#f2b455",
    600: "#c29044",
    700: "#916c33",
    800: "#614822",
    900: "#302411",
  },
  negative:{
    800:"#ef2f2f",
  },
   
}; */
