@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mouse+Memoirs&family=Open+Sans:wght@300&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #1d1c24;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242427;
}

::-webkit-scrollbar-thumb {
  background: #48494e;
}

::-webkit-scrollbar-track:hover {
  background: #2a2b2f;
} */

/* BoxHeader */

.box-header {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #ccc;
}
.conversion-title {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ccc;
}

.conversion-row {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #ccc;
}






.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #999;
}

.a-revenue {
  font-size: 15px;
  font-weight: 700;
  color: #999;
}

.a-expenses {
  font-size: 15px;
  font-weight: 700;
  color: #ef2f2f;
}

.a-profit {
  font-size: 15px;
  font-weight: 700;
  color: #71f5de;
}

/* BoxHeader */

.title {
  font-family: "Inter", "sans-serif";
  font-size: 16;
  font-weight: 600;
  color: #ccc;
}
